
* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
/* Navigation bar */


#main-nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

#main-nav::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

#name{
    color: white;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.nav-list {
    display: flex;
    list-style: none;
    margin-top: 20px;
    margin-right: 10px;
}

.nav-list li a{
    text-decoration: none;
    padding: 2px 23px;
    font-size: 1.2rem;
    color: white;
    border-radius: 14px;
    transition: font-size 0.5s;
}

.nav-list li a:hover{
    font-size: 1.4rem;
    color: white;
    background-color: rgb(170, 170, 170);
}


/* Introduction-box */

/* #home::before{
    content: "";
    background: url(/img/bg/bg1.jpg) no-repeat center center/cover;
    top: 0;
    left: 0;
    position: absolute;
    height: 610px;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    filter: grayscale(100%);
} */

#name a{
    text-decoration: none;
    color: white;
}

.intro-box{ 
    margin-left: 240px;
    margin-right: 240px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 530px;
}

.main-introbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-introbox1 img {
    height: 380px;
    width: auto;
}

.sub-introbox2 h4{
    font-size: 4.500rem;
}
.sub-introbox2 p{
    font-size: 1rem;
}

/* _____________________________ Qualification */

#qualification{
    padding-top: 85px;
    margin-bottom: 10px;
}

.flow{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* background-color: gray; */
}

#flow-head{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#quali-head{
    font-size: 2rem;
}

#quali-subhead{
    margin-bottom: 50px;
}

.sub-flowhead{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.sub-flowhead h4{
    margin: 1px 40px;
}

#myDIV1{
margin-bottom: 18px;
}

#myDIV2{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#edu_data{
    font-size: 2rem;
}
#work_data{
    opacity: 0.3;
}

.branch{
    stroke:rgb(53, 53, 53);
    stroke-width:2;
}

.svg-font{
    font-size: 1.3rem;
    font-family: 'Lato', sans-serif;
}
.svg-font-j{
    font-size: 0.9rem;
    font-family: 'Gowun Dodum', sans-serif;
}

/* ______________________________Projects____________________________________________________ */
#project{
    display: flex;
    padding-top: 85px;
    margin-bottom: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.head h2{
    font-size: 3rem;
}

.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.p-sub{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: centero;
}

.p-sub a{
    text-decoration: none;
    color: #ffffff;
}

.p-box{
    border: 2px solid black;
    padding: 120px 60px;
    margin: 40px 40px;
    font-size: 2rem;
    border-radius: 10px;
    color: white;
    transition: font-size 0.5s;
}

.p-box:hover{
    font-size: 1.5rem;
}


.song-box{
    background-image: url(../img/p-box/song-bg.jpg);
    background-position: center;
    filter: grayscale(100%);
    background-size: 490px;
    background-repeat: no-repeat;
}

.wed-box{
    background-image: url(../img/p-box/wedding-bg.jpg);
    background-position: center;
    filter: grayscale(100%);
    background-size: 490px;
    background-repeat: no-repeat;
}

.cor-box{
    background-image: url(../img/p-box/corporate-bg.jpg);
    background-position: center;
    filter: grayscale(100%);
    background-size: 490px;
    background-repeat: no-repeat;
}
.fit-box{
    background-image: url(../img/p-box/fitness-bg.jpg);
    background-position: center;
    filter: grayscale(100%);
    background-size: 490px;
    background-repeat: no-repeat;
}
.game-box{
    background-image: url(../img/p-box/gaming.jpg);
    background-position: center;
    filter: grayscale(100%);
    background-size: 490px;
    background-repeat: no-repeat;
}
/* __________________________________Slider */
/* * {box-sizing:border-box} */

/* Slideshow container */
.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background: transparent;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(92, 92, 92, 0.616);
  }
  
  /* Caption text */
  .text {
    color: #ffffff;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background: transparent;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background: transparent;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/* __________Contacts____________ */

/* Contact us */
#contact{
    padding-top: 85px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

    background-image: url(../img/contact-bg.jpg);
    background-position: center;
    filter: grayscale(100%);
    background-size: 490px;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

.cont-head{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2.813rem;
    color: white;
}

#contact-box label{
    font-weight: 900;
    font-size: 1.5rem;
    color: white;
    background: none;
}

#contact-box input,
#contact-box textarea{
    padding: 0.5rem;
    width: 100%;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
    background: none;
    border: 2px solid white;
}

#form1{
    display: flex;
    flex-direction: column;
}

.f-btn{
    align-self: center;
}

.form_btn{
    padding: 13px 41px;
    border-radius: 26px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background 0.5s;
}

.form_btn:hover{
    background: gray;
}

.form-group{
    padding: 7px 20px;
}

/* Utility Classes */
.font-a{
    font-family: 'Lato', sans-serif;
}
.font-b{
    font-family: 'Lato', sans-serif;
}
.font-c{
    font-family: 'Gowun Dodum', sans-serif;
}

